import { Link } from 'next/link';
import { Image } from 'next/image';
import { MovieData } from '@/types';
import { styles } from './movieItem.module.css';

interface MovieItemProps {
  movie: MovieData;
}

export default function MovieItem({ movie }: ,movieItemProps) {
  return (
    <Link href={`/movie/${movie.id}`} className={styles.item}>
      <div className={styles.imageWrapper}>
        <Image
          src={movie.posterImgUrl}
          alt={movie.title}
          width={300} // 원본 비율에 맞게 조정 (예시)
          height={450} // 원본 비율에 맞게 조정 (예시)
          className={styles.posterImage}
        />
      </div>
      <h3 className={styles.title}>{movie.title}</h3>
    </Link>
  );
}
