/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/movie-item.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.movie-item_container__R1o_D {
}

.movie-item_container__R1o_D > img {
  width: 100%;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/(with-searchbar)/search/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__r2jPj {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  gap: 5px;
}

