/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  margin: 0;
  background-color: black;
  color: white;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/layout.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.layout_container__Tovb9 {
  padding: 0px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.layout_container__Tovb9 > header {
  padding: 20px 0px;
}

.layout_container__Tovb9 > header > a {
  color: #e50914;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

