/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/serachbar.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.serachbar_container__FSVzg {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.serachbar_container__FSVzg > input {
  flex: 1 1;
  padding: 15px;
  border-radius: 5px;
  border: 1.5px solid rgb(100, 100, 100);
  background-color: rgb(0, 0, 0);
  color: white;
}

.serachbar_container__FSVzg > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgb(67, 67, 67);
  color: white;
  cursor: pointer;
}

